
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/
###< symfony/framework-bundle ###
/public/uploads/*

# Docker files and backups
docker-compose.yml
Dockerfile
www.back/
mysql/
*.sql
dump/

# Windows metadata files
*:Zone.Identifier
