{% extends 'base.html.twig' %}

{% block title %}Derivaciones de Pacientes{% endblock %}
{% block panelTitle %}Derivar a <span style="text-transform: capitalize">{{ cliente.nombre }} {{ cliente.apellido }}</span>{% endblock %}
{% block body %}
    <form action="{{ path('cliente_guardar_derivacion', {'id': cliente.id}) }}" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm">
                    <label class="control-label required">Derivado a:</label>
                    <input required class="form-control" type="text" name="derivadoEn">
                </div>
                <div class="col-sm">
                    <label class="control-label required">Fecha de derivación:</label>
                    <input required class="form-control" type="datetime-local" name="fechaDerivacion">
                </div>
                <div class="col-sm">

                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm">
                    <label class="control-label required">Motivo:</label>
                    <input required class="form-control" type="text" name="motivo">
                </div>
                <div class="col-sm">
                    <label class="control-label required">Empresa de traslado:</label>
                    <input class="form-control" type="text" name="empDeTraslado">
                </div>
                <div class="col-sm">
                </div>
            </div>
            <br>
            {% if tieneTurnos %}
                <div class="form-row">
                    <div class="col-sm ">
                        <div class="form-group alert-danger text-center">
                            <span style="line-height: 50px">El paciente tiene turnos asignados que serán borrados si se deriva.</span><br>
                            <span>Horarios</span>
                            {% for turno in turnos %}
                                <br>
                                <span> {{ turno.beginAt |date('m/d/Y - h:m') }}hs</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                </div>
            {% endif %}
            <br>
            <br>
            <div class="form-row">
                <div class="col-sm">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-default" href="javascript:history.back();">volver</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}