{% extends 'base.html.twig' %}

{% block title %}New Paciente{% endblock %}
{% block panelTitle %}Nuevo Paciente{% endblock %}
{% block body %}

    {{ include('cliente/_form.html.twig') }}

    <a href="{{ path('cliente_index') }}" class="btn btn-default">Volver</a><br><br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/cliente.js') }}"></script>
{% endblock %}