{% extends 'base.html.twig' %}

{% block title %}Liquidaciones index{% endblock %}
{% block panelTitle %}Liquidaciones{% endblock %}
{% block body %}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <a href="{{ path('profesionales_index') }}">
                <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                    <div class="card-header">Profesionales</div>
                </div>
            </a>
        </div>

    </div>
</div>


{% endblock %}

