{% extends 'base.html.twig' %}

{% block title %}Nuevo Adjunto{% endblock %}

{% block body %}
    <h1>Nuevo Adjunto Para: {{ nombreCliente }}</h1>

    {{ include('adjuntos_pacientes/_form.html.twig') }}
{% endblock %}
