<form method="post" action="{{ path('evolucion_delete', {'id': evolucion.id}) }}" onsubmit="return confirm('Seguro desea borrar la evolución?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evolucion.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
