{% extends 'base.html.twig' %}

{% block title %}Evoluciones{% endblock %}

{% block body %}
<div class="container">
    <div class="">
        <h1>Agregar Evolucion para {{ nombreCliente }}</h1>

        {{ include('evolucion/_form.html.twig') }}

    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if error is not empty %}
        alert("{{ error }}");
        {% endif %}
        $('.predeterminada').click(function (e) {
            let newHtml = $('#evolucion_description').val().length > 0 ? $('#evolucion_description').val() + ' ' + $(this).html() : $(this).html();
            CKEDITOR.instances['evolucion_description'].insertHtml(newHtml);
        });
    </script>
{% endblock %}
