{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    <h1>Editar</h1>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/booking.js') }}"></script>
    <script>
        function errorLoad() {
            alert("El profesional no puede atender más pacientes en este horario. Seleccione uno diferente o cambie la configuración en el perfil del profesional");
        }
    </script>

    {% if error %}
        <script>errorLoad()</script>
    {% endif %}
{% endblock %}