.fNacimiento, .edad, .telefono,
.obraSocialAfiliado, .fEgreso, .motivoEgr,
.Email, .vieneDe, .posicionEnArchivo, .docDerivante, .modalidad, .motivoIngEspecifico,
.habPrivada, .familiarResponsableNombre, .familiarResponsableTel,
.familiarResponsableMail, .familiarResponsableAcompanante,
.vinculoResponsable, .sistemaDeEmergenciaNombre,
.sistemaDeEmergenciaTel, .sistemaDeEmergenciaAfiliado, .fIngreso,
.disponibleParaTerapia, .derivado, .dePermiso, .derivadoEn, .fechaDerivacion,
.motivoDerivacion, .empTrasladoDerivacion, .fechaReingresoDerivacion, .motivoReingresoDerivacion, .fechaBajaPorPermiso,
.fechaAltaPorPermiso, .terapiasHabilitadas, .terapiasNoHabilitadas, .sesionesDisp,
.formNum, .vtoSesiones, .mediaSesionView, .dieta, .loading, .dni {
    display: none;
}

.tooltip-inner {
    margin-left: 50%;
    max-width: 50%;
    width: 50%;
    min-width: 300px;
}