#wrapper {
    height: 100%;
}
.content {
    overflow: auto;
}
.form_caja .btn-default.btn {
    width: 100%;
    background-color: #3379b6;
    color: #fff;
    font-size: 22px;
}
.list-group-item.activa {
    background-color: #dae0e5 !important;
    color: #495057 !important;
}
.btn-primary {
    background-color: #b088be;
    border-color: #b088be;
}
.btn-primary:hover {
    background-color: #60b9b9;
    border-color: #60b9b9;
}
.btn-action {
    display: inline-block;
    vertical-align: top;
}

.form-group .control-label.required:after {
    content:" *";
    color:red;
}
.borrarForm {
    display: inline-block;
    margin-bottom: 15px;
}
.sidebar-sticky {
    padding-top: 50px;
}
.btn-default {
    border: 1px solid #000000;
}
.content {
    padding: 0px 50px;
}
.usuariosOnDash {
    background-color: #889cbe;
}
.clientesOnDash {
    background-color: #b088be;
}
.staffOnDash {
    background-color: #60b9b9;
}

.table thead th {
    border-top: 0;
}
.table tr td {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase !important;
}
.dropdown-menu.show {
    background-color: #5a6268;
}
.dropdown-toggle a {
    color:white !important;
}
.dropdown-toggle a:visited {
    color:white !important;
}
.editarPaciente:hover {
    background-color: #889cbe !important;
    color: #f0f8ff;
}
.editarPaciente a {
    color: white;
}
.editarPaciente a:hover {
    color: white;
}
a.dropdown-item:hover {
    background-color: #889cbe;
}
.completa {
    background-color: #f1f1f1;
}

.fc-day {
    cursor: pointer;
}
.fc-day.disable {
    cursor: not-allowed;
}

.sidebar-wrapper {
    /*display: none;*/
}
.navbar-expand-lg .navbar-toggler {
    display: block !important;
}

.container-fluid .table.table-responsive.table-striped {
    display: inline-table;
}
.columnas-de-dos {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.columnas-de-uno {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
.columnas-de-tres {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.noDisp {
    background-color: #ff7f5073 !important;
}
.checkbox .dropdown-item:hover {
    background-color: transparent !important;
}
.checkbox .dropdown-item {
    color: white !important;
}
.terapias-no-habilitadas {
    display: none;
}
.mediaSesion {
    background-color: #d5e9f5 !important;
}

.btn-default:hover {
    background-color: #00bcd4;
    border-color: #00bcd4;
}

select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

select:invalid[multiple] {
    margin-top: 15px !important;
}

.dashboard hr {
    margin: 8px 0;
}
.dashboard td {
    padding: 8px 0;
}
/*      #60b9b9     #b088be
table {
    width: 716px; !* 140px * 5 column + 16px scrollbar width *!
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 240px;
}

thead th:last-child {
    width: 256px; !* 140px + 16px scrollbar width *!
}*/
