{% extends 'base.html.twig' %}

{% block title %}Nuevo TipoConsumible{% endblock %}

{% block body %}
    <h1>Nuevo TipoConsumible</h1>

    {{ include('tipo_consumible/_form.html.twig') }}

{% endblock %}
