<form method="post" action="{{ path('notas_historia_clinica_delete', {'id': notas_historia_clinica.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notas_historia_clinica.id) }}">
    <button class="btn">Delete</button>
</form>
