{% extends 'base.html.twig' %}

{% block title %}Dashboard index{% endblock %}
{% block panelTitle %}Dashboard{% endblock %}
{% block body %}
    {% if not app.user %}
        Por favor, ingrese con su usuario y contraseña
        <a href="{{ path('app_login') }}">ingresar</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <a href="{{ path('user_index') }}">
                        <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                            <div class="card-header">Administradores</div>
                            <div class="card-body">
                                <p class="card-text">Gestor de Administradores del sistema</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('doctor_index') }}">
                        <div class="card text-white staffOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Staff</div>
                            <div class="card-body">
                                <p class="card-text">Desde este gestor se crean y administran los Profesionales</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('cliente_index') }}">
                        <div class="card text-white clientesOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Clientes</div>
                            <div class="card-body">
                                <p class="card-text">Desde este gestor se crean y administran los Clientes</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}
