{% extends 'base.html.twig' %}

{% block title %}Notas para el turno{% endblock %}
{% block panelTitle %}Notas{% endblock %}
{% block body %}
    <h1>NotasTurno</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
        {% for notas_turno in notas_turnos %}
            <tr>
                <td>{{ notas_turno.id }}</td>
                <td>{{ notas_turno.text }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay notas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('liquidar', {'id': doctor.id }) }}">volver</a>
{% endblock %}
